
datadir = share

PKG_CONFIG_PATH = ../libsignal-protocol-c/installed/lib/pkgconfig:../facil.io/tmp/pkgconfig:../kjson/pkgconfig

SERVICE_PROTO_PATH = ../libsignal-service-java/protobuf

PKG_CONFIG := PKG_CONFIG_PATH=$(PKG_CONFIG_PATH) $(PKG_CONFIG)
